*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.logo{
    padding: 10px;
}

.navBar{
    padding: 15px;
}

.opciones{
    /*Permito flexibilidad de la lista*/
    display: flex;
    /*Quito formato de la lista*/
    list-style-type: none;
}

.header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    /* background-color: forestgreen; */
    padding: 15px;
}

.ultimasNoticias{
    font-size: 15px;
}

.ademas{
    font-size: 15px;
}

.opciones li a{
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 9, 139);
}

.opciones li a:hover{
    padding: 5px;
    background-color: rgb(247, 247, 244);
    border-radius: 10px;
}

/*Footer.php*/
.footer{
    background-color: rgb(158, 162, 218);
    padding: 15px;
    margin-left: 5px;
    color: rgb(8, 8, 8);
}

.footer p{
    font-size: 14px;
}

.main{
    padding: 15px;
}

/*Login.php*/
.login{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.vinculoRegistro{
    text-align: center;
}

.tituloLogin{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: rgb(0, 9, 139);
}

#formularioLogin input email password{
    width: 90%;
    height: 25px;
    margin: 0.5rem;
}

.registro{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: forestgreen; */
}

.formularioRegistro input email password{
    width: 90%;
    height: 25px;
    margin: 0.5rem;
}

.tituloRegistro{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 9, 139);
}